:root{
  --mainYellow: #8f610d;
  --lightYellow: #ffa400;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainBlue:
}
body{
  font-family: 'Courier New', Courier, monospace !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Special Elite', cursive;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.text-yellow{
  color: var(--mainYellow);
}

.text-bright{
  color: var(--lightYellow);
}
.main-section{
  /* height: 100vh; */
  background-color: var(--mainWhite);
}
.product-section{
  /* height: 100vh; */
  background-color: var(--mainWhite);
}
.about-section{
  /* height: 100vh; */
  background-color: var(--mainWhite);
}
.btn-yellow{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  border-radius: 0 !important;
  border:0.1rem solid var(--mainYellow) !important;
}

.btn-yellow:hover{
  background: var(--mainYellow) !important;
  color:var(--lightYellow) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}